@import url('colors.css');

.content .prompt textarea{
    width: 95%;
    margin: 10px;
    background-color: var(--input-bg);
    border-radius: 10px;
    border: none;
    color:  white;
    font-family:Arial, Helvetica, sans-serif;
}
.prompt-text{
    color:  white;
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.content{
    text-align: center;
    align-items: center;
    justify-content: centers;
}
.prompt-submit{
    width: 65%;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: var(--main-button);
    color: white;
    border:  none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bolder;
    text-transform: capitalize;
}
.movies, .songs, .ytvideos, .anime, .manga{
    display: none;
    width: 95%;
    height: 500px;
    background-color: var(--input-bg);
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust alignment as needed */
    overflow-y: scroll;
}
.b-set{
    display: inline-flex;
}
.types{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 95%;
    color: white;
    background-color: var(--input-bg);
    border: none;
}
.types:focus{
    outline: none;
    border: none;
}

.poster img{
    max-width: 100px;
    border-radius: 10px;
}
.poster{
    max-width: 100px;
    padding: 20px
}
.gig{
    max-width: 140px;
    max-height: 215px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    flex-basis: calc(33.33% - 10px); /* Adjust the percentage and margin as needed */
    margin-bottom: 20px; /* Adjust margin as needed */
    box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .gig {
        flex-basis: calc(50% - 10px);
    }
}

@media screen and (max-width: 768px) {
    .gig {
        flex-basis: calc(100% - 10px);
    }
}
.title{
    margin-top: -10px;
}